.Profile {
  border: 1px solid rgb(84, 83, 83);
  height: 590px;
  background-color: rgb(13, 12, 12);
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 4px;
  margin-left: 300px;
}
.Avatar {
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  height: 200px;
  width: 200px;
  border-radius: 1px solid red;
  margin-left: 35%;
  margin-top: 150px;
}
.profile_name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
  color: beige;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin-left: 170px;
}
.profile_follower {
  margin-left: 150px;
}
.pf_1 {
  color: beige;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
}
.pf_2 {
  color: beige;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
}
.icon {
  color: beige;
}
.input_box {
  padding: 10px 10px;
  border: 1px solid rgb(84, 83, 83);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 150px;
  background-color: rgb(84, 83, 83);
  font-family: sans-serif;
  font-weight: bolder;
  color: beige;
}
.icon {
  margin-left: -30px;
  margin-top: 20px;
  color: rgb(243, 236, 236);
}
.img {
  margin: 0px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.MoreIcon {
  color: rgb(236, 226, 226);
  margin-left: 90%;
  margin-top: 10px;
}
.profile-username {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
  color: beige;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin-left: 170px;
}
.profile_names {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
  color: beige;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin-left: 10px;
}
